*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 100vh;
}

.memory-game{
    display: grid;
    grid-template-rows: repeat(3, 12rem);
    grid-template-columns: repeat(4, 9rem );
    gap: 1rem;
    margin: auto;
}

.memory-card{
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    position: relative;
    transform-style: preserve-3d; /* Sempre no pai */
    transition: transform .5s;

}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.back-face{
    backface-visibility: hidden;
}

.back-face, .front-face{
    padding: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1C7CCC;
    border-radius: 5px;
}
